.main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product {
  border: 5px solid black;
  padding: 2px;
  text-align: center;
  width: 200px;
  height: 400px;
  background-color: aqua;
  margin: 5px;
  
}
